body {
  background-color: #efbbcc;
}
h1 {
  font-family: 'Belista';
  font-size: 50px;
}
h2 {
  font-family: 'Belista';
  font-size: 35px;
}
p {
  font-family: monospace;
}
ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  background-color: #fffaf0
}
li {
  float:left;
}
li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-family: monospace;
}
li a:hover {
  background-image: url("https://image.freepik.com/free-photo/gold-glitter-background_53876-84745.jpg");
  color: black;
